*{
  font-family: sans-serif;
  margin: 1px;
}

.nav-bar {
position: fixed;
top: 0;
width: 100%;
background: #f1f1f1;
}
.strip {
  border-bottom-color: red;
  
  border-bottom-width: 0.3rem;
}
.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
}
.nav-list__item {
  margin: 1rem 0.5rem;
}
.nav-logo {
  padding-left: 300px;
  padding-top: 15px;
}
.nav-search {
  padding-top: 15px;
  padding-left: 275;
}



.gallery {
  width: 60%;
  margin: auto;
  display: -webkit-flex;
  display: flex;
}
.left.side{
  display: -webkit-flex;
  display: flex;
  display: inline-block;
  width: 60%;
}
.right-side {
  display: -webkit-flex;
  display: flex;
  display: inline-block;
  flex-direction: column;
  width: 40%;
}
.strawberry{
  width: 490px;
  padding: 5px;
}
.warus{
  width: 240px;
  padding: 0 2.5px;
}
.dog{
  width: 240px;
  padding: 0 2.5px;
}
.ocean{
  padding: 5px;
  width: 300px;
  height: 200px;
}
.deer{
  padding: 0 5px;
  width: 300px;
  height: 408px;
}
footer{
  width: 60%;
  margin: auto;
}
.new-color {
  color: red;
}
.new {
  float: left;
  text-align: left;
  font-size: 12px;
  width: 200px;

}


.modern {
    padding: 1em;
    -moz-column-count:3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
    margin: -15px;
}
a{
  color: black;
  text-decoration: none;
}
.some-text {
  text-align: center;
  color: #545454;
}
h1 {
  margin-top: 130px;
  text-align: center;
  color: #545454;
}
img {
    opacity: 1;
    filter: alpha(opacity=50);
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100);
}
.flex {
  display: flex;
}
.flex1 {
  flex: initial;;
  width: 200px;
  min-width: 240px;
}
.flex2 {
  flex: 1;
}
